<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard admin</title>
</head>
<body>
    <header></header>
    <main>
        <h1 style="border: 2px solid black;">administrador</h1>
        <a href="/admin/caja">caja</a>
        <a href="/admin/productos">productos</a>
        <a href="/admin/reportes">reportes</a>
        <a href="/admin/movimientos">movimientos</a>
        <a href="/admin/cierre-caja">cerrar caja</a>
        <a href="/admin/logout">logout</a>
    </main>
</body>
</html>